<!doctype html>
<html>
    <head>
       <title>Secrets</title>
       {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'QuotationsApp/css/styles.css' %}">
    </head>
    <body>
      <div id="wrapper">
          <h1> Logon Registration </h1>
          <br><br>
          <div id="box">
            {# register form #}
            {%for msg in messages %}
                 {%if "register" in msg.tags %}
                      <p class="errorMessage"> {{msg.message}} </p>   {# show login error message #}
                 {%endif%}
            {%endfor%}
            <h2>Registration Form</h2>
            <form action="/register" method="post">
              {% csrf_token %}
              Email: <input type="text" name="email"><br>
              First Name: <input type="text" name="firstName"><br>
              Last Name: <input type="text" name="lastName"><br>
              Password: <input type="password" name="password"><br>
              Confirm Password: <input type="password" name="confirmPassword"><br>
              <input type="submit"value="submit">
            </form>
        </div>

        <div id="box">
            {# login form #}
            {%for msg in messages %}
                 {%if "login" in msg.tags %}
                      <p class="errorMessage"> {{msg.message}} </p>   {# show login error message #}
                 {%endif%}
            {%endfor%}
            <h2>Login Form</h2>
            <form action="/login" method="post">
              {% csrf_token %}
              Email: <input type="text" name="email"><br>
              Password: <input type="password" name="password"><br>
              <input type="submit"value="submit">
            </form>
        </div>

      </div>
    </body>
</html>
